@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* 

Colors were extracted using https://labs.tineye.com/color/

 */
:root {
  --grey-background: #727272;
  --white-color: #f8f8f8;
  --pink: #e9c5ad;
  --light-grey: #c5c4c3;
  --red: #cc2a2b;
  --black: #362823;
  --brown: #886a59;
}

#image {
  display: block;
}

body {
  background: var(--light-grey);
  font-size: 16px;
}

#main {
  margin: auto;
  max-width: 57rem;
}

.font-size-1rem {
  font-size: 2rem;
}

/* Navigation */
#navigation {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  display: block;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
}

#navigation p {
  font-style: italic;
  font-size: 2rem;
}

/* Chronology */
#chronology {
  font-size: 1.4rem;
}

#chronology ul li {
  list-style-type: none;
}

hr {
  margin: 2rem 3rem;
}

.display-flex {
  display: flex;
}
.margin-auto {
  margin: auto;
}

.display-block {
  display: block;
}

.container {
  margin: 2rem 3.5rem;
  padding: 1rem;
  border: #eee 1rem solid;
  box-shadow: 0.5rem 0.5rem 1rem var(--black);
}

/* Social Media Icon Links */

#twitter {
  color: #00acee;
}

#list-item-header {
  margin-top: 5rem;
}

#img-caption {
  padding: 0.5rem 0rem 0.25rem 0rem;
}

.center {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.amazon-link a img {
  display: block;
  margin: auto;
}

li {
  margin-top: 3rem;
  padding: 0 3rem;
}

#social-links {
  /* border: solid 0.25rem var(--grey-background); */
  text-align: center;
  padding: 1rem;
  margin: 1rem 0;
}

.text-center {
  text-align: center;
}
ul li {
  text-align: justify;
}

#social-links a {
  padding-right: 1rem;
}

/* 

Gradient Courtesy of :
https://stackoverflow.com/questions/38507734/fontawesome-instagram-icon-colorized/49659118

*/
/* #instagram .fa-instagram {
  color: transparent;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: -webkit-radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
} */

#linkedin {
  color: #0e76a8;
}

footer p {
  font-family: 'Oswald', sans-serif;
  text-decoration: underline;
  font-size: 1.5rem;
  margin: 1rem 0;
}

#social-links svg {
  max-width: 3rem;
}

#twitter svg:hover {
  fill: #1da1f2;
}

#instagram svg:hover {
  border-radius: 13px;
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

#linkedin svg:hover {
  fill: #0e76a8;
}
